
.checkbox-style{
    display: flex;
    flex-direction: row;
}

.form-style{
    background-color: white;
    max-width: 800px;
    padding-right: 60px;
    padding-left: 40px;
    border-radius: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    
}
body{
    background-color: rgb(240, 240, 240);
    display: flex;
    flex-direction: column;
    align-items: center;
    
       
}

h1 {
    color: rgb(31, 47, 152);
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    
}

label {
    color: rgb(45, 45, 45);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

input{
    width: 100%;
    border: 1px;
    border-style: solid;
    padding: 10px;
    border-radius: 8px;
    border-color: rgb(204, 204, 204);
    margin-bottom: 16px;
    margin-top: 4px;
}

.select-bar, .personal-statement {
    width: 100%;
    padding: 10px;
    border-radius: 8px;
    border-color: rgb(204, 204, 204);
    margin-bottom: 16px;
    margin-top: 4px;
    cursor: default;
}
.date-bar{
    cursor: default;
}

.id-bar, .email-bar, .date-bar{
    padding-left: 8px;
}

.form-texts{
    display: inline;
    
}
.required-label{
    display: flex;
    position: fixed;
    margin-bottom: 16px;
}

.required-sign{
    color: rgb(255, 37, 22);
}

.submit-button{
    background-color: rgb(31, 47, 152);
    color: white;
    margin-left: 10px;
}

.submit-button:hover {
    opacity: 0.8;
}
.submit-button:active{
    opacity: 0.5;
}
